### Q1. What is a database? Differentiate between SQL and NoSQL databases.

**Database**: Database are organized systems to store the data. It allows to access and manage the data.

SQL Databases:

    - It is relational database. Data is organized in structured way like tables with rows and columns.
    - It uses a schema to define the structure, relationships and constraints.
    - Structred Query language is used to accesing, update and manage the data. 
    - Examples: MySQL, Microsoft SQL Server, Oracle, PostgreSQL
    
NoSQL Database:

    - It is non-relational databases, flexible to store unstructured or semi structured data. Allows to store the data in various formats like document type, key-value pairs et.,
    - There is no need to define and follow the particular schema.
    - Example: MongoDB, Cassandra, Neo4j

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**DDL:** Data Defination Language. It is used to define, modify and manage the structure of database and its objects.

    1. CREATE: Command to create new objects in database. 
        - CREATE TABLE test_table( Name VARCHAR(25), age INT);
    2. DROP: Command used to remove the objects from the database.
        - DROP TABLE test_table;
    3. ALTER: Command used to modify existing objects and adding new columns to the table.
        - ALTER TABLE test_table ADD column mobile_number NUMBER;
    4. TRUNCATE: Command used to remove all the data from the table but the table and it structure remains. 
        - TRUNCATE TABLE test_table;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**DML**: Data Manipulation Language. Commands are used to manage the data in tables.

    1. INSERT: Command used to insert values into the table:
        - INSERT INTO test_table VALUES ('Prasad', 25, 9867832323);
    2. UPDATE: Command used to update the existing record/row in the table.
        - UPDATE test_table SET age=24 WHERE Name='Prasad';
    3. DELETE: Command used to removes record from the table.
        - DELETE from test_table WHERE Name = 'Prasad';

### Q4. What is DQL? Explain SELECT with an example.

**DQL**: Data Query Language. It used to retrive and query the data from the database.

    1. SELECT: Command used to retrive the data from the tables. We can specify the list of columns to retrive from the table.
        - SELECT * FROM test_table; ( # Select all the columns)
        - SELECT Name FROM test_table; (# select only Name column in test_table)
        - SELECT Name, mobile_number FROM test_table WHERE age= 24;   (# Select Name, mobile records where age column match 24)

### Q5. Explain Primary Key and Foreign Key.

**Primary KEy**: Key is field or set of fields that can uniquely identify the record in the table. It cannot contain NULL values. 

**Foreign Key**: It a column or set of columns that is referenced to primary key of the other table. it allows to build the relationship between the tables. The values in foreign key match with the values in primary key of another table. It can contain NULL values as well.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


```python
import mysql.connector

mydb = mysql.connector.connect(
    host = "",   # Hostname where MySQL installed
    user = "", # Username which has access to MySQL
    password = "" # password for username
)
```

```python
mycursor = mydb.cursor()
```
- Method create connection and used to interact with MySQL database 
    
```python
mycursor.execute("SELECT * FROM test_table")
```
- execute() method is used to execute the SQL commands

### Q7. Give the order of execution of SQL clauses in an SQL query.

```python
SELECT column1, column2
FROM table_name
WHERE condition
GROUP BY column1
HAVING condition
ORDER BY column1

```
- FROM: Specifies the tables or views from which the data will be retrieved.
- WHERE: Filters the rows based on specified conditions.
- GROUP BY: Groups the result set based on specified columns.
- HAVING: Filters the grouped rows based on specified conditions (similar to WHERE but for grouped data).
- SELECT: Determines the columns that will be included in the result set.
- ORDER BY: Sorts the result set based on specified columns.
- LIMIT/OFFSET: Limits the number of rows returned and specifies the starting point for result retrieval (not available in all SQL databases).