### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

**MongoDB**: MongoDB is a non-relational database, where it stores the data in documents oriented(key-value pairs). It capable to store the unstructed, semi structured data. It is more flexible to store large volume, scalable and high performance.

**Non-Relational Databases**: Non-relational databases doesnt have any defined structure or schema for the database. It designed to handle the semi structured, unstructed data. Instead, relational databases follows proper defined strucure of the database in tabular format and connectiong with relationships. 

**MongoDB over SQL databases**:
- When storing large amount of unstructured data.
- schema less, it allows to store the data in the form of dcuments oriented
- easy to scale than SQL databases, and produce high performance.

### Q2. State and Explain the features of MongoDB.

- **Document Oriented:** Stores data in JSON like documents.
- **Dynamic Schema:** Offers dynamic schema, doesn't require any predifined schema for the records.
- **Scalability:** It designed for horizantal scalability, allowing for distributed data across multiple servers.
- **Aggregation Framework:** We can perform preprocessing tasks and analytics within database itself.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [9]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 15.6 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 35.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Import pymongo library
from pymongo import MongoClient

# provide MongoClient clint URL
client  = MongoClient('mongodb+srv://temp_user:Welcome35@cluster0.jd3qkp1.mongodb.net/?retryWrites=true&w=majority')

# Create database
db = client['temp_db']

# Create collection inside database
collection = db['temp_collection']

InsertOneResult(ObjectId('655fb71f345ce0d9c49b232f'), acknowledged=True)

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [10]:
# sample JSON data to insert
single_data_record = {
    'Name':'Prasad',
    'age':35, 
    'course':'Full stack data science pro'
}


# Multiple data record 
multiple_data_record = [
{'Name':'Fayaz', 'Branch':'CS', 'State':'FL'},
{'Place':'North Carolin', 'Gender':'Male'}
]


# Insert single data into collection
collection.insert_one(single_data_record)

# Insert Many records into collection
collection.insert_many(multiple_data_record)

InsertManyResult([ObjectId('655fb7e7345ce0d9c49b2331'), ObjectId('655fb7e7345ce0d9c49b2332')], acknowledged=True)

In [16]:
# find_one method
print(collection.find_one())

# find() method
for i in collection.find():
    print(i)

{'_id': ObjectId('655fb63c345ce0d9c49b232d'), 'Name': 'Prasad', 'age': 35}
{'_id': ObjectId('655fb63c345ce0d9c49b232d'), 'Name': 'Prasad', 'age': 35}
{'_id': ObjectId('655fb71f345ce0d9c49b232f'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2330'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2331'), 'Name': 'Fayaz', 'Branch': 'CS', 'State': 'FL'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2332'), 'Place': 'North Carolin', 'Gender': 'Male'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

- By default, find() method yields all the documents from the collections. Also, we can filter the documents by passing the query string as params in method.

In [18]:
# string JSON 
query = {'Name':'Prasad'}

# Return documents where name matches Prasad
for i in collection.find(query):
    print(i)

{'_id': ObjectId('655fb63c345ce0d9c49b232d'), 'Name': 'Prasad', 'age': 35}
{'_id': ObjectId('655fb71f345ce0d9c49b232f'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2330'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}

In [21]:
# string JSON 
query2 = {'age':{'$gt':30}}

# Return documents where age is gretear than 35
for i in collection.find(query2):
    print(i)

{'_id': ObjectId('655fb63c345ce0d9c49b232d'), 'Name': 'Prasad', 'age': 35}
{'_id': ObjectId('655fb71f345ce0d9c49b232f'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2330'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [24]:
for i in collection.find().sort('Name', 1):
    print(i)

{'_id': ObjectId('655fb7e7345ce0d9c49b2332'), 'Place': 'North Carolin', 'Gender': 'Male'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2331'), 'Name': 'Fayaz', 'Branch': 'CS', 'State': 'FL'}
{'_id': ObjectId('655fb63c345ce0d9c49b232d'), 'Name': 'Prasad', 'age': 35}
{'_id': ObjectId('655fb71f345ce0d9c49b232f'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}
{'_id': ObjectId('655fb7e7345ce0d9c49b2330'), 'Name': 'Prasad', 'age': 35, 'course': 'Full stack data science pro'}

sort() - method used to sort the documents. 
- 1 for ascending
- -1 for decensding

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one():
- delete one document, if it returns multiple records first ocurrence will be deleted.

delete_many():
- delete multple records

drop():
- method used to drop the collection completely. It means all the records and collection also removed from the database